body {
  padding: 0% 7%;
  min-width: 275px;
}

.navbar {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px;
  border-style: solid;
}

.navbar-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
}

.nav-link {
  font-size: 1.2rem;
  margin: auto 10px;
}

#title-section {
  text-align: center;
  padding: 6% 0;
}

.title-photo {
  max-height: 600px;
  margin: 20px auto;
  border-radius: 3%;
  max-width: 98%;
}

.title-header {
  color: black;
  font-size: 3.5rem;
  font-family: 'Kaushan Script', cursive;
  line-height: 1.5;
}

.paradise-resort-emphasis {
  color: #bbf3f4;
  font-weight: bold;
}

.animated-description {}

.title-section-buttons {
  margin: 20% 40px 0;
  font-size: 1.3rem;
}

/* animation start */
/* animation end */
/* ACTIVITIES */
#activities {
  padding: 3% 7% !important;
  border-color: rgba(187, 243, 244, 0.35);
  border-style: solid;
  margin: 50px auto;
  border-radius: 10px;
  padding: 3% 7%;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: justify;
}

.card {
  margin: 30px 25px;
}

/* OFFER */
#offer {
  padding: 3% 7% !important;
}

#offer .card-text{
  text-align: center;
}

.room-offer {
  padding: 10px 25%;
}

.offer-image {
  margin-right: 10px;
}

.button-room-picker {
  margin: auto auto;
}

/* CONTACT */
#contact {
  padding: 3% 7% !important;
}

.contact-name {
  margin-bottom: 20px;
}

.contact-person-info {
  line-height: 1.4;
  padding-left: 25px;
}

.contact-container {
  margin: 80px auto 50px;
  clear: both;
}

.contact-person-photo {
  float: left;
  border-radius: 100%;
  max-width: 160px;
  padding: 10px;
}

@media (max-width: 500px) {
  .contact-container {
    text-align: center;
    margin: 30px auto 60px;
    clear: both;
  }

  .contact-person-info {
    line-height: 1.4;
    padding-left: 25px;
    text-align: center;
  }

  .contact-person-photo {
    margin: auto 25% 30px;
  }
}

.contact-person-info {
  margin-left: 180px;
}

@media (max-width: 500px) {
  .contact-person-info {
    margin-left: 0px;
  }
}

.map-box {
  margin-top: 80px;
}

/* contact form start */
.form {
  /* width: 40%; */
  /* background-color: white; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end */
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form form {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 60px;
}

.flex-rev {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%
}

.flex-rev input,
.flex-rev textarea {
  border: none;
  background-color: #e6e6e6;
  padding: 12px 10px;
  font-size: 16px;
  resize: none;
  margin-top: 7px;
  margin-bottom: 16px;
  border-radius: 5px;
  color: #243342;
  outline-color: #243342;
  outline-width: thin;
  -webkit-appearance: none
}

.flex-rev textarea {
  height: 205px
}

.send-email-button {
  display: inline-block;
  padding: 14px 30px;
  text-decoration: none;
  color: #243342;
  letter-spacing: 1.2px;
  font-size: 14px;
  border: 1px solid #243342;
  border-radius: 7px;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
  margin-top: 15px;
}

.send-email-button {
  color: white;
  background: #243342
}

.send-email-button:hover {
  cursor: pointer;
  color: #1bf1dc
}

.send-email-button {
  -webkit-appearance: none;
  margin-right: 0
}

/* contact form end */
/* FOOTER */
#footer {
  padding: 2% 7% 1% 7%;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px;
  border-style: solid;
  margin-top: 100px;
  line-height: 1.5;
}

.footer-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5rem;
}

.footer-icons-container {
  display: flex;
  justify-content: center;

}

@media (max-width: 991px) {
  .footer-icons-container {
    margin-top:10%; }
  }

.footer-icon {
  margin: 33.3%  auto;
  color: inherit;
}

@media (max-width: 991px) {
  .footer-icon {
  margin: 3% auto;}
  }

/* .copyright{
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
} */
/* test */
.adjectives-container {
  width: 100px;
  margin-bottom: 100px;
  padding-right: 50px;
}

.rotatingText {
  display: inherit;
  width: 300px;
}

.rotatingText-adjective {
  font-style: normal;
  font-weight: 700;
  opacity: 0;
  display: inline-block;
  position: absolute;
}

.rotatingText-adjective:nth-of-type(1) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

.rotatingText-adjective:nth-of-type(2) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 1.75s;
}

.rotatingText-adjective:nth-of-type(3) {
  animation-name: rotate-last;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  20%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
}

@keyframes rotate-last {
  0% {
    opacity: 0;
    transform: translate3d(50, 50px, 0);
  }

  50%, 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
